[submodule "my_plugins/vim-polyglot"]
	path = my_plugins/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "my_plugins/vim-qml"]
	path = my_plugins/vim-qml
	url = https://github.com/peterhoeg/vim-qml.git
[submodule "my_plugins/indentLine"]
	path = my_plugins/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "builtin_plugins/vim-commentary"]
	path = builtin_plugins/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "builtin_plugins/vim-fugitive"]
	path = builtin_plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "builtin_plugins/vim-surround"]
	path = builtin_plugins/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "builtin_plugins/vim-airline"]
	path = builtin_plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "builtin_plugins/vim-json"]
	path = builtin_plugins/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "builtin_plugins/vim-cmake-syntax"]
	path = builtin_plugins/vim-cmake-syntax
	url = https://github.com/pboettch/vim-cmake-syntax.git
[submodule "builtin_plugins/vim-cpp-enhanced-highlight"]
	path = builtin_plugins/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "builtin_plugins/tabline.vim"]
	path = builtin_plugins/tabline.vim
	url = https://github.com/mkitt/tabline.vim.git
[submodule "builtin_plugins/ale"]
	path = builtin_plugins/ale
	url = https://github.com/w0rp/ale.git
[submodule "my_plugins/tagbar"]
	path = my_plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "my_plugins/qmake-syntax-vim"]
	path = my_plugins/qmake-syntax-vim
	url = https://github.com/artoj/qmake-syntax-vim.git
[submodule "builtin_plugins/vim-one"]
	path = builtin_plugins/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "builtin_plugins/fzf.vim"]
	path = builtin_plugins/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "builtin_plugins/fzf"]
	path = builtin_plugins/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "my_plugins/todo.txt-vim"]
	path = my_plugins/todo.txt-vim
	url = https://github.com/freitass/todo.txt-vim.git
[submodule "builtin_plugins/cosmic_latte"]
	path = builtin_plugins/cosmic_latte
	url = https://github.com/nightsense/cosmic_latte.git
[submodule "builtin_plugins/vim-python-pep8-indent"]
	path = builtin_plugins/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "builtin_plugins/goyo.vim"]
	path = builtin_plugins/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "builtin_plugins/vim-vinegar"]
	path = builtin_plugins/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "builtin_plugins/coc.nvim"]
	path = builtin_plugins/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "builtin_plugins/vim-markdown-folding"]
	path = builtin_plugins/vim-markdown-folding
	url = https://github.com/masukomi/vim-markdown-folding.git
[submodule "my_plugins/SyntaxRange"]
	path = my_plugins/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange.git
[submodule "builtin_plugins/asyncrun.vim"]
	path = builtin_plugins/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "builtin_plugins/ultisnips"]
	path = builtin_plugins/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "builtin_plugins/pear-tree"]
	path = builtin_plugins/pear-tree
	url = https://github.com/tmsvg/pear-tree.git
